
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_film_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Films</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :title_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @films %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @films, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', film, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_film_path(film), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <% #commentedout  = link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= film.title %></td>
        <td><%= film.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
